<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/model"
            class="tools.vitruv.methodologisttemplate.model.model.ModelPackage"
            genModel="src/main/ecore/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/model2"
            class="tools.vitruv.methodologisttemplate.model.model2.Model2Package"
            genModel="src/main/ecore/model2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uncertainty -->
      <package
            uri="http://www.example.org/uncertainty"
            class="uncertainty.UncertaintyPackage"
            genModel="src/main/ecore/uncertainty.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cad -->
      <package
            uri="http://www.example.org/cad"
            class="cad.CadPackage"
            genModel="src/main/ecore/cad.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated brakesystem -->
      <package
            uri="http://www.example.org/brakesystem"
            class="brakesystem.BrakesystemPackage"
            genModel="src/main/ecore/brakesystem.genmodel"/>
   </extension>

</plugin>